@keyframes anim1{
  from{
    transform: scale(1,1);
    color: rgba($color: #556f8d, $alpha: 1.0);
  }
  50%{
    transform: scale(1.1,1.1);
    color: rgba($color: #2c3e52, $alpha: 1.0);
  }
  to{
    transform: scale(1,1);
  }
}

.rayure{
  @include rayureBlanche;
}
.entry-header h1{
  color: rgba($color: #556f8d, $alpha: 1.0);
}
.entry-header h1:hover{
  animation: anim1 0.5s;
}

.italika{
  font-style: italic;
}

blockquote.wp-block-quote{
  font-style: italic;
  color: rgba($color: #556f8d, $alpha: 1.0);
}


