@keyframes anim1{
  from{
    transform: scale(1,1);
    color: rgba($color: #556f8d, $alpha: 1.0);
  }
  50%{
    transform: scale(1.1,1.1);
    color: rgba($color: #2c3e52, $alpha: 1.0);
  }
  to{
    transform: scale(1,1);
  }
}

@keyframes anim2{
  from{
    transform: rotate(0deg);
    color: rgba($color: #000000, $alpha: 1.0);
  }
  50%{
    transform: rotate(5deg);
    color: rgba($color: #10243a, $alpha: 1.0);
  }
  to{
    transform: rotate(0deg);
    color: rgba($color: #000000, $alpha: 1.0);
  }
}

.rayure{
  @include rayureBlanche;
}
.entry-header h1{
  color: rgba($color: #556f8d, $alpha: 1.0);
}
.entry-header h1:hover{
  animation: anim1 0.5s;
}
.animation2{
  animation: anim2 1s infinite;
}

.italika{
  font-style: italic;
}

blockquote.wp-block-quote{
  font-style: italic;
  color: rgba($color: #556f8d, $alpha: 1.0);
}

.CouleurChange{
  color: #2c3b4d;
}


